* {
    margin: 2%;
    padding: 0;
}
.item1 { grid-area: One; }
.item2 { grid-area: Two; }
.grid-container {
  display: grid;
  grid-template-areas: 
  'One Two';
  background-color: aquamarine;
  margin-right: 20%;
  margin-left: 20%;
}
.item2 {
  margin-left: 10%;
}
h1 {
  font-size: 50px;
}
img {
  height: 60vh;
  width: 60vh;
}
button {
  background-color: black;
  color: white;
  border: none;
  width: 30%;
  height: 40px;
  padding: 0;
  margin: 0;
}
input {
  margin-right: 0;
  padding-right: 0;
  text-align: right;
  width: 60%;
  height: 40px;
}
p {
  font-size: 20px;
}