* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  align-items: center;
  background-color: grey;
}
.logo {
  border-radius: 100px;
  width: 6%;
  border: 2px solid black;
}
.nav-links {
  left: 20px;
}
.green-border {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 80vw;
  height: 30vw;
  border: 6px solid green;
  border-style: dotted;
}
.image-scale {
    position: absolute;
    width: 12%;
    bottom: 0;
    right: 0;
    right: 15%;
    bottom: -15%;
}
li {
  display: inline-block;
}
.image-scale-cat {
    position: absolute;
    width: 12%;
    left: 15%;
    top: -20%;
}