* {
    margin: 2%;
    padding: 0;
}
.item1 { grid-area: One; }
.item2 { grid-area: Two; }
.grid-container {
  display: grid;
  grid-template-areas: 
  'One Two';
  text-align: center;
  padding: 2%;
  margin-left: 20%;
  margin-right: 30%;
}
p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  text-align: left;
}
img {
  width: 50vh;
  height: 46vh;
}